
<!--NOTES:
tableChoices is HashMap of <Job field, ArrayList[Object with Field Name]>
tableChoices comes from JobData
category is one <key, value> pair from tableChoices
category.value is the ArrayList
item is one entry of ObjectWithFieldName from HashMap's value ArrayList, like calling tableChoices.getValue(index)
column = a Job field because it's one key/value pair from tableChoices and .key is being called
value = one entry of ObjectWithFieldName from HashMap's value ArrayList

column and value are required parameters of ListController method
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
            <h2 class = "centered">View Jobs By Category</h2>
        </div>

        <table class="centeredTable">
            <tr>
                <th:block th:each="column : ${columns}">
                    <th th:text = "${column.value}"></th>
                </th:block>
            </tr>
            <tr>

                <td>
                    <li>
                    <a th:href="@{/list/jobs(column=all)}">View All</a>
                    </li>
                </td>

                <td th:each="category : ${tableChoices}">
                    <ul>
                        <li th:each="item : ${category.value}">
                            <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
                        </li>

                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>

